body {
    background-color: aquamarine;
}
button {
    background-color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-book-card {
    background-color: green;
}